.App {
  text-align: center;
  font-family: roboto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #333333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #fff;
  display: flex;
  font-size: calc(10px + 1vmin);
  flex-direction: column;
  color: #888;
  height: 50vmin;
  border-radius: 4px;
 margin-top: 5%;
 padding: 50px 50px;
 min-width: 30%;
}

hr {
  color: #282c34;
  width: 100%;
  margin-bottom: 20px;
}

.login, .signup{
  padding: 10px;
  background-color: #424242;
  width: 40%;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  font-size: 20px;
  font-family: roboto;

}


img{
  margin-left: 41%;
}

.heading {
  font-weight: bolder;
}